/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 6.25rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  background: transparent url('../images/herobannerwide3000.jpg') no-repeat center top;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item img {
  min-width: 100%;
  min-height: 100%;
  max-width: none;
  max-height: none;
  width: 100%;
  height: 100%;
  margin-bottom: 5px;
}

.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  height: 38rem;
}

#carousel-container {
  height: 28rem;
}

#solutions {
  padding-top: 40px;
  text-align: center;
}

#solutions-sm {
  margin: -19px auto 8px auto;
  padding: 0;
  text-align: center;
  color: #fff;
}

#solutions-sm .btn {
  width: 250px;
}

#solutions-md {
  margin: -30px auto 0 auto;
  padding: 0;
  text-align: center;
  color: #fff;
  font-size: 0.9rem;
}

#solutions-md .btn {
  margin: 6px 0 0 0;
}

#all-products {
  margin-left: 100px;
  width: 250px;
  height: 50px;
}

.carousel-indicators li {
  cursor: pointer;
  /*list-style-type: circle;*/
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing h2 {
  font-weight: 400;
}

.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
